.loader {
    margin: 5px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid #32CD32;
    border-right: 0.5em solid #32CD32;
    border-bottom: 0.5em solid #32CD32;
    border-left: 0.5em solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}